body {
    background-color: khaki;
    /*background-image: url("light_bgi.jpg");*/
  /*padding-top: 60px;
  padding-bottom: 10px;*/
  color: blue;
  font-family: Verdana, sans-serif;
  font-style: oblique;
  font-size: large;
}
.container{
font-family: Georgia, 'Times New Roman', Times, serif;

}